@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Rubik:wght@300;400&display=swap');


body {
  margin: 0;
  padding: 0;
}

/* Navbar section CSS */

#navbar {
  background-color: #333;
  display: block;
  color: #fff;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
}

#brand{
  font-size: 48pt;
  float: left;
  text-decoration: none;
  color: #fff;
}
#brand:hover {
  color: #cec3ec;
  transition: 0.5s ease-in-out;
}

.container{
  padding: 0 80px 0 80px;
}

.nav-item {
  flex: 1;
  float: right;
  font-size: 25px;
}

.nav-link {
  display: inline-block;
  padding: 0 10px 0 10px;
}

.nav-link a {
  text-decoration: none;
  color: #fff;
  font-size: 16pt;
}

.nav-link a:hover {
  color: #cec3ec;
  transition: 0.5s ease-in-out;
}

/* Bottom navbar section csss */

#bottom-navbar {
  background-color: #fff;
  display: block;
  color: #333;
  text-align: center;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  padding-left: 0px;
}

.bnav-item {
  flex: 1;
  float: left;
  font-size: 25px;
  padding-left: 0px;
}

.bnav-link {
  display: inline-block;
  padding: 0 12px 0 12px;
}

.bnav-link a {
  text-decoration: none;
  color: #333;
  font-size: 16pt;
}

.bnav-link a:hover {
  color: #988aba;
  transition: 0.5s ease-in-out;
}

input[type=text] {
  float: right;
  border:  1.5px solid #333;
  color: rgba(185, 185, 187, 0.89);
  padding: 12px;
  width: 17%;
  margin: 20px;
  box-shadow: 0 0 0 1px #112233;
}

/* Hero section CSS */

#hero-section{
  height: 65vh;
  background-color: rgb(222, 222, 222);
}

.row {
  display: flex;
  justify-content: space-around;
}

.left-column {
  flex: 1;
}

.right-column {
  flex: 1.5;
}

#img-text{
  padding-top: 120px;
  font-size: 58pt;
  color: #333;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline;
  flex: 1.5;
  font-family: 'Rubik', sans-serif;
}

.right-column p{
  font-size: 18pt;
  font-family: 'Rubik', sans-serif;
  color: #333;
}

/* Deal of the day CSS */

.head-text{
  font-size: 30pt;
  font-family: 'Rubik', sans-serif;
  color: #333;
  word-spacing: 2px;
}
.head-text::first-letter{
  font-size: 170%;
}

.col-2{
  width: 15%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.col-2 img:hover{
  transform: scale(1.05);
  transition-duration: 1.01s;
}

.col-2 p{
  font-size: 12pt;
  font-family: 'Rubik', sans-serif;
}


.fc-col-2{
  width: 17%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 5px;
  margin: 20px 0 20px 0;
  background-color: #dbf3fa;
}

.fc-col-2:hover{
  transform: scale(1.05);
  transition-duration: 1.01s;
}

.fc-col-2 p{
  font-size: 20pt;
  font-family: 'Rubik', sans-serif;
}

.col{
  display: flex;
}

.ptag{
  color: #333;
  padding: 0 8px;
  border-right: 1px solid #333;
  font-size: 14pt;
  font-family: 'Rubik',sans-serif;
}
